/autostart
/BetterDiscord
/bottom
/cava
/cef_user_data
/cherrytree
/Code
/dconf
/discord
/easyeffects
EOS-greeter.conf
eos-update-notifier.first_init
/flameshot
/GIMP
/google-chrome
/htop
/Github\\ Desktop
kactivitymanagerdrc
kglobalshortcutsrc
klipperrc
/lazygit
/libreoffice
/lutris
/matplotlib
mimeapps.list
/mpv
/nitrogen
/obs-studio
/procps
/protonvpn
/pulse
/qBittorrent
/qt5ct
QtProject.conf
/spotify
/styluslabs
/systemd
/TabNine
/Thunar
/torbrowser
user-dirs.dirs
user-dirs.locale
/VirtualBox
/wireshark
/xfce4
/yay

